*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;  
    background: -webkit-linear-gradient(to left, #242424, #000000, #1f1f1f); 
    background: linear-gradient(to left, #242424, #000000, #1f1f1f); 
}

.header-index{
    display: inline-block;
    list-style: none;
    color: white;
    border: 6px;
    background: rgb(0, 0, 0);
    border-radius: 12px;
    width: auto;
    height: 83px;
}

.header-index ul li a img:hover{
    scale: 1.2;
    transition: 1s;
}


.header-index ul li a img{
    transition: 1s;
}

.header-index ul li{
    display: inline-block;
    padding: 0 20px;    
}
.headerr-index{
    display: inline-block;
    list-style: none;
    color: white;
    background: rgb(0, 0, 0);
    border-radius: 12px;
    width: auto;
    height: 40px;
}

.headerr-index ul li{
    display: inline-block;
    padding: 0 20px;    
}


.headerr-index ul li a{
    color: #ffffff;
}


.headerr-index ul li a:hover{
    scale: 1.2;
    color: #ffee00;
}


.index-img0 img{
    float: left;
    margin: 30px;
    border-radius: 50%;
    transition: 1s;
}

.index-img0 img:hover{
    border-radius: 12px;
    scale: 1.1;
    transition: 1s;
}

.index-img0 article{
    float: right;
    margin: 54px;
    color: white;
    background: rgb(61, 61, 60);
    width: 700px;
    height: 400px;
    border-radius: 8px;
}